h1 {
    font-size: 35px;
    font-family: 'Patrick Hand', cursive;
    color: #df2b20;
    text-align: center;
    margin-right: 5%;
    background-color: white;

}
section {
    position: relative;
    
}

p {
    border: 1px solid black;
    padding: 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    background-color:white;
    padding-right: 100px;
  
    
}


h2 {
    border: 1px black solid;
    background-color: #df2b20;
    color: white;
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 0;
}


@media (max-width: 767px) {
    flex-direction: column;
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: 35%;
        
    }
    .col:last-child {
        width: 100%;
    }
  
}


@media only screen and (min-width: 992px) {

    .row {
        display: flex;
        flex-wrap: nowrap;
        
    }
    .col {
        width: 30%;
    }
    }